*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: orangered;

}
.btn{
    background-color: orangered;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Main Style */
header{
    background-color:#fff8f3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    align-items: center;
   


}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}